body {
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #000; /* Чорний текст */
    background-color: #71C5CF; /* Світло-блакитний фон неба */
}

header {
    background-color: #FFD700; /* Жовтий колір сонця/логотипу */
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #B8860B; /* Темно-золотий */
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Білий фон секцій */
    border: 4px solid #B8860B; /* Темно-золотий */
}

h1, h2, h3 {
    color: #FFA500; /* Помаранчевий акцент */
    text-transform: uppercase;
    letter-spacing: 2px;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #BDB76B; /* Темно-хакі */
    background-color: #FAF0E6; /* Кремовий */
}

form {
    display: flex;
    flex-direction: column;
    background-color: #FAF0E6; /* Кремовий */
    padding: 20px;
    border: 4px solid #BDB76B; /* Темно-хакі */
}

label {
    margin-bottom: 5px;
    color: #556B2F; /* Темно-оливково-зелений */
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #BDB76B; /* Темно-хакі */
    border-radius: 0;
    background-color: #fff; /* Білий фон для введення */
    color: #000; /* Чорний колір тексту для введення */
    font-family: Andale Mono, monospace;
}

button {
    padding: 10px;
    background-color: #3CB371; /* Середній морський зелений (колір пташки) */
    color: #fff;
    border: none;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: #2E8B57; /* Морський зелений */
    transform: scale(1.05);
}

footer {
    background-color: #8FBC8F; /* Темно-блідо-зелений (колір землі/труб) */
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    border-top: 4px solid #556B2F; /* Темно-оливково-зелений */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}